#image-wrap {
    display: flex;
    /* align-items: center; */
    /* 수직 정렬 */
    justify-content: center;
    /* 수평 정렬 */
}

.images {
    display: flex;
}

div.images img {
    margin-right: 20px;
}


